.wrapper .user {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 32px;
}

.user .user-img {
	margin-right: 32px;
}

.user .user-img img{
	width: 250px;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.img-wrapper img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.home-form form {
    max-width: 400px;
}
